
<style>
    hr {
        padding: 0px;
        margin: 0px;
        border-top: 3px solid black;
    }

    th, tr, td {
        padding: 0px;
    }

    table td {
        width: 50px;
        word-wrap: break-word;
    }

    .txtwrap {
        inline-size: 150px;
        overflow-wrap: break-word;
    }

    p.c {
        word-break: break-all;
    }

    #FontContainer {
        font-family: Poppins !important;
    }

    pre {
        color: white;
        padding: 0;
        overflow: auto;
        font-size: 85%;
        line-height: 1.45;
        border-left: none;
        background-color: white;
        border-radius: 3px;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        text-shadow: 0 1px white;
        -webkit-hyphens: none;
        -moz-hyphens: none;
        -ms-hyphens: none;
        hyphens: none;
    }
</style>
<style>
    .vl {
        border-left: 3px solid black;
        height: 90px;
    }

    .print td {
        padding: 0.15rem !important;
    }

    .m-0 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .p-0 {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .cell {
        padding: 0.15rem !important;
    }

    th, tr, td {
        padding: 0px;
    }

    #text-big {
        font-size: 18px;
        font-weight: 900;
    }

    #text-small {
        font-size: 18px;
        font-weight: 500;
    }

    #text-med {
        font-size: 16px;
        font-weight: 700;
    }

    #text-num {
        font-size: 18px;
        font-weight: 800;
    }

    #Systemdiv {
        page-break-before: always;
    }

    #displayTable {
        font-weight: 900;
    }

    #PrintStyle {
        font-size: 12px;
        font-weight: bolder;
    }
</style>
<style>
    #btnJCBack {
        background-color: black;
        border-color: black;
    }

    #center {
        text-align: center;
        border-bottom: none;
    }

    #right {
        text-align: right;
        border-bottom: none;
    }

    #left {
        text-align: left;
        border-bottom: none;
    }
    /*.table thead th, .text-wrap table thead th {
            vertical-align: bottom;
            border-bottom: 0px solid white;
        }
        .table tbody th, .text-wrap table tbody th {
            vertical-align: bottom;
            border-bottom: 0px solid white;
        }*/
</style>

<script src="~/js/QRCode/qrcode.min.js"></script>
<script src="~/js/QRCode/qrcode.js"></script>
@*<script src="~/js/qrcode.min.js"></script>
    <script src="~/js/JsBarcode.all.min.js"></script>
    <script src="https://www.easyproject.cn/easyqrcodejs/easy.qrcode.min.js?v=10" type="text/javascript" charset="utf-8"></script>*@

<div class="page-head mb-0 pb-0 pt-4" style="text-align: center ;background-color:white; height:600px">

    <div class="row col-md-12 pr-0" style="width:100%;">
        <div class="col-md-3" @*style="margin-right:10px"*@>
            <img src="~/images/FG_Logo-01.png" style="height: 80px;width:240px;margin-right:45px;" />
        </div>
        <div class="col-md-7" style="margin-top:1%">
            <div class="row" style="width:100%;padding: 0;">
                <table style="text-align: left;width: 100%">
                    <tr>

                        <td style=" color: black;  font-size: 30PX;padding-left:10px">
                            <span style="font-family:poppins !important ;font-size:35PX;font-weight: bolder; color:black;margin-right:-50px;">FG GLASS INDUSTRIES PVT LTD</span>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <div class="col-md-2 p-0" style="margin-top:1%;float:right">
            @*<div class="row" style="width:100%;padding: 0;">*@
            <table class="mr-0" style="text-align: center;width: 90%;border:none;float:right;color:black">
                <tr>
                    <td class="text-nowrap" style=" color: black;  font-size: 30PX;text-align:right">
                        <b style="font-family:poppins !important ;font-size:35px;font-weight: bolder; color:black;">&nbsp;&nbsp;INVOICE&nbsp;&nbsp;</b>
                    </td>
                </tr>

            </table>
            @*</div>*@
        </div>
    </div>
    <div class="row col-md-12" style="margin-top:1px;margin-left:10px">

        <table class="table card-table table-vcenter text-nowrap print">
            <tbody>
                <tr>
                    <td class="text-black" style="color:black;border: none;text-align:left;font-family:Poppins;margin-left:10px">
                        <strong id="text-small" style="font-size:11px">&nbsp;&nbsp;&nbsp;REGD OFFICE: 1204 TOWER A, NAMAN MIDTOWN, SENAPATI BAPAT MARG, PRABHADEVI (W), MUMBAI-400 013, INDIA | T : +91 22-4065 7777 </strong><br />
                        <strong id="text-small" style="font-size:11px">
                            &nbsp;&nbsp;&nbsp;WORKS: PLOT NO. L-15/1, MIDC TALOJA, DIST. RAIGAD - 410 208 MAHARASHTRA TEL: +91-22 27402880 EMAIL: export@fgglass.com
                        </strong>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <br />
    <div class="row col-md-12">
        <div class="col-md-12 p-0">
            <table class="table card-table table-vcenter text-nowrap print" style="line-height:1.2">
                <tbody>
                    <tr>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-big">INVOICE NO</strong></td>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-big">INVOICE DATE</strong></td>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-big" style="padding-left:13px">PO-PI NO.</strong></td>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-big">PO-PI DATE.</strong></td>
                        @*<td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-big">LC NO.</strong></td>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-big">LC DATE.</strong></td>*@
                    </tr>
                    <tr>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-small">@ViewBag.data.EXINO</strong></td>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-small">@ViewBag.data.EXIDate</strong></td>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-small" style="padding-left:13px">
                            @ViewBag.data.PONO</strong></td>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-small">@ViewBag.data.PODate</strong></td>
                        @*<td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-small">@ViewBag.data.LCNO</strong></td>
                        <td class="text-black" style="width:150px;color:black;text-align:left; border: none;font-family:Poppins;"><strong id="text-small">@ViewBag.data.LCDate</strong></td>*@
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <hr />
    <div class="row mt-0">
        <div class="col-md-12 m-0">
            <table class="table card-table table-vcenter text-wrap p-0 m-0" style="line-height:1.5">
            </table>
        </div>
    </div>
</div>
