@*<style>
        #text-big {
            font-size: 17px;
            font-weight: 800;
        }

        #text-small {
            font-size: 19px;
            font-weight: 500;
            margin-left: -4%;
        }


    </style>*@

<div class="page-head" style="text-align: center ;">
    <div class="row p-1" style="background-color:white;font-size:16px; ">

        <div class="row col-md-12">
            <div class="col-md-4" style="margin-right:15px">
                <img src="~/assets/images/FA_Estimation_Print.png" style="height: 50px;width:300px;" />
            </div>
            <div class="col-md-8">
                <div class="row" style="width:120%;margin-top: -75px;padding: 0;">
                    <table style="text-align: right;width: 100%">
                        <tr>
                            <td style=" color: black;  font-size: 50PX">
                                <span style="font-family: Segoe UI Semibold !important; font-size: 50px; color: #008080; margin-right: -250px;">PROFORMA INVOICE</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
        <div class="row col-md-12" style="margin-left:-3%">
            <div class="col-md-8">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width:150px;color:black;text-align:left; border: none;"><strong id="text-big"></strong></td>

                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold; margin-right: -90PX ">TRN No:</td>
                            <td class="text-black" style="width:150px;color:black;border: none;text-align:left;font-family:Poppins;margin-right:-90PX">@ViewBag.TRNNo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row col-md-12" style="margin-left:-3%">
            <div class="col-md-3">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width:150px;color:black;border: none;text-align:left;font-family:Poppins;margin-right:-90PX"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold; margin-right: -90PX "><strong>PI NO.</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold; margin-right: -90PX "><strong>VERSION</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold; margin-right: -90PX "><strong>PI DATE</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold; margin-right: -90PX "><strong>VALID UNTIL</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold; margin-right: -90PX "><strong>SALES REPRESENTATIVE</strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>

        <div class="row col-md-12" style="margin-left:-3%">
            <div class="col-md-3">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width:150px;color:black;border: none;text-align:left;font-family:Poppins;margin-right:-90PX"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: black; border: none; text-align: left; font-family: Segoe UI Semilight; margin-right: -90PX">@ViewBag.PINo</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: black; border: none; text-align: left; font-family: Segoe UI Semilight; margin-right: -90PX">@ViewBag.RevisionNo/@ViewBag.PIDate</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: black; border: none; text-align: left; font-family: Segoe UI Semilight; margin-right: -90PX">@ViewBag.PIDate</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: black; border: none; text-align: left; font-family: Segoe UI Semilight; margin-right: -90PX">@ViewBag.ValidUntil</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-2" style="margin-left:-30px">
                <table class="table card-table table-vcenter text-nowrap print">
                    <tbody>
                        <tr>
                            <td class="text-black" style="width: 150px; color: black; border: none; text-align: center; font-family: Segoe UI Semilight; margin-right: -90PX">@ViewBag.SalesPerson_Name</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

    </div>

</div>

<hr style="border: dotted 1px;" class="mt-0 pl-0" />



