@*<a href="~/fonts/Poppins/Poppins-Black.ttf"></a>
    <a href="~/fonts/Poppins/Poppins-Bold.ttf"></a>*@
@{
    ViewBag.Title = "PIPrintDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
        @@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');
    </style>*@

<style>


    html {
        background-color: white !important;
    }

    body {
        color: #000000 !important;
        background-color: white !important;
    }

    .table-responsive {
        border: 1px;
    }

    /*pre {
        white-space: pre-wrap;*/ /* Since CSS 2.1 */
    /*white-space: -moz-pre-wrap;*/ /* Mozilla, since 1999 */
    /*white-space: -pre-wrap;*/ /* Opera 4-6 */
    /*white-space: -o-pre-wrap;*/ /* Opera 7 */
    /*word-wrap: break-word;*/ /* Internet Explorer 5.5+ */
    /*}*/

    .table td {
        padding: 0.5rem !important;
        vertical-align: top;
    }

    .TEXT_BOLD {
        font-weight: normal;
        font-size: 14px;
    }

    .TEXT_UNBOLD {
        /*font-family: Segoe UI Semilight;*/
        font-size: 14px;
    }


    .tblBreak {
        page-break-inside: avoid;
    }


    .th {
        font-family: Segoe UI Semibold !important;
    }
</style>

@*<link href="~/css/Poppines.css" rel="stylesheet" />
    <a href="~/fonts/Poppins/Poppins-Black.ttf"></a>
    <a href="~/fonts/Poppins/Poppins-Bold.ttf"></a>*@

@*<hr style="border: dotted 1px;" class="mt-0 pl-0" />*@

@*<div class="row " id="FontContainer" style="margin-top:0px;">

    </div>*@

<div class="page-head" style="text-align: center ;">
    <div class="row mt-0 pl-0" style="background-color:white">

        <div class="row col-md-12 mb-6" style="">
            <div class="col-md-6">
                <table class="mb-3" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td class="" style=" color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold, normal;"><span class="">CLIENT NAME</span></td>
                        </tr>
                        <tr>
                            <td class="" style=" border: none;text-align:left; ">@ViewBag.Cust_Name</td>
                        </tr>
                    </tbody>
                </table>
                <table class="mb-1" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td class="" style=" border: none;text-align:left; "><span class="">TRN No:</span> @ViewBag.TRNNo</td>
                        </tr>
                    </tbody>
                </table>
                <table class="mb-2" width="30%" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td class="" style=" border: none;text-align:left; ">@ViewBag.BillToAddrs</td>
                        </tr>
                    </tbody>
                </table>


                <table width="100%" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td style="border: none; text-align: left; font-family: Segoe UI Semibold; color: #008080; width: 30%">CLIENT CONTACT</td>
                            <td style="text-align:left;  border: none; font-family: Segoe UI Semilight;width:70%">@ViewBag.ContactPersonName</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td class="  mb-2" style="color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold; width: 30%">TEL</td>
                            <td class="  mb-2" style="text-align:right; border: none; text-align: left; font-family: Segoe UI Semilight;width:70%">@ViewBag.ClientTel</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td class=" " style=" border: none; text-align: left; font-family: Segoe UI Semibold; color: #008080; width: 30%">OAK NO.</td>
                            <td class="  mb-2" style="text-align:right;  border: none; text-align: left; font-family: Segoe UI Semilight;width:70%">@ViewBag.OAKNo</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-md-6" style="font-size:16px">
                <table class="" width="30%">
                    <tbody>
                        <tr>
                            <td class=" " style="color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold;">DELIVERY LOCATION</td>
                        </tr>
                        <tr>
                            <td class=" " style=" border: none;text-align:left; ">@ViewBag.ShipToAddrs</td>
                        </tr>
                    </tbody>
                </table>
                <table class="mb-8" width="100%">
                </table>
                <table class="" width="100%">
                    <tbody>
                        <tr>
                            <td class=" " style=" border: none; text-align: left; font-family: Segoe UI Semibold; color: #008080; width: 30%">PROJECT</td>
                            <td class=" " style="border: none; text-align: left; font-family: Segoe UI Semilight; width: 70%">@ViewBag.Project_Name</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td class=" " style=" border: none; text-align: left; font-family: Segoe UI Semibold; color: #008080; width: 30%">REFERENCE</td>
                            <td class=" " style="border: none; text-align: left; font-family: Segoe UI Semilight;width:70%">QUO22-1707/7644-GTO-026 / 7644-136R1</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td class=" " style=" border: none; text-align: left; font-family: Segoe UI Semibold; color: #008080; width: 30%">ORDER TYPE</td>
                            <td class=" " style="border: none; text-align: left; font-family: Segoe UI Semilight;width:70%">@ViewBag.OrderType</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>

        <div class="row col-md-12 mb-5">
            <div class="col-12">

                <table class="  pb-0 mb-0" style="width: 100%; font-size: 16px">
                    <thead style="border:dotted 1px;border-left:none;border-right:none">
                        <tr class="  p-0">
                            @*<th class="   p-0" id="left" style="width: 5%;font-family:Poppins"><strong id="text-big">SNO</strong></th>*@
                            <th style="color: #008080; width: 6%; ">SNo</th>
                            <th style="color: #008080; width: 28%; font-family: Segoe UI Semilight ">GLASS SPECIFICATION</th>
                            <th style="color: #008080; width:16%"></th>
                            <th style="color: #008080; width: 10%; text-align: right; ">   QTY</th>
                            <th style="color: #008080; width: 10%; text-align: right;  ">   QTY</th>
                            <th style="color: #008080; width: 10%; text-align: right;  ">RATE</th>
                            <th style="color: #008080; width: 10%; text-align: right;">AMOUNT</th>
                        </tr>
                        <tr class="  p-0">
                            @*<th class="   p-0" id="left" style="width: 5%;font-family:Poppins"><strong id="text-big">SNO</strong></th>*@
                            <th style="color: #008080; width:6%"></th>
                            <th style="color: #008080; width:28%"></th>
                            <th style="color: #008080; width:16%"></th>
                            <th style="color: #008080; width:10%; text-align: right;  ">(in PCS)</th>
                            <th style="color: #008080; width:10%; text-align: right;  ">(in SQM)</th>
                            <th style="color: #008080; width:10%"></th>
                            <th style="color: #008080; width:10%; text-align: right;  ">(in AED)</th>
                        </tr>
                    </thead>

                    <tbody style="">
                        @{
                            int o = 0;
                        }

                        @foreach (var g in ViewBag.tblGlassDetails)
                        {

                            o++;
                            <tr class="  p-0">
                                @*<th class="   p-0" id="left" style="width: 5%;font-family:Poppins"><strong id="text-big">SNO</strong></th>*@
                                <td style="vertical-align: top; width: 6%">@o</td>
                                <td style=" text-align: left;  width: 28%">@g["CombSpecification"]<br>@g["AddDescrp"]</td>
                                <td style=" color: #008080; width:16%"></td>
                                <td style=" width: 10%; text-align: right">@g["TotPcs"]</td>
                                <td style=" width: 10%; text-align: right">@g["SQM"]</td>
                                <td style=" width: 10%; text-align: right">@g["UnitPrice"]</td>
                                <td style=" width: 10%;  text-align: right">@g["TotalLC"]</td>
                            </tr>


                        }
                    </tbody>
                    <tbody style=" border:dotted 1px;border-left:none;border-right:none">
                        <tr class="  p-0">
                            @*<th class="   p-0" id="left" style="width: 5%;font-family:Poppins"><strong id="text-big">SNO</strong></th>*@
                            <th></th>
                            <th class="" style="text-align: left; ">TOTAL</th>
                            <th style="color: #008080;"></th>
                            <th class="" style="border: none; text-align: right; ">@ViewBag.TotalPcs</th>
                            <th class="" style="border: none; text-align: right; ">@ViewBag.TotalSQM</th>
                            <th></th>
                            <th class="" style="border: none; text-align: right; ">@ViewBag.TotalLC</th>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="row col-md-12">
            <div class="col-12">

                @if (ViewBag.TotProcessAmount > 0)
                {

                    <table class="  pb-0 mb-4" style="width:100%;font-size:16px">


                        <tbody style="">
                            @foreach (var d in ViewBag.tblProcessDetails)
                            {
                                //if (d["Freight_ID"] == 2 && ViewBag.WastagePrint  == "")
                                //{
                                <tr class="   p-0">
                                    <td style="width:6%;visibility:hidden">.</td>
                                    <td style="width: 79%; text-align: left; font-family: Segoe UI Semilight">@d["Freight_Name"]</td>
                                    <td style="text-align: right; width: 15%; font-family: Segoe UI Semilight">@d["Amount"]</td>
                                </tr>
                                //}
                            }
                        </tbody>



                    </table>

                    <table class="  pb-0 mb-3" style="width: 100%; border: dotted 1px; border-right: none; border-left: none;font-size:16px ">

                        @*@foreach (var d in )
                            {*@
                        <tbody style=" border:dotted 1px;border-left:none;border-right:none">
                            <tr class="   p-0 mt-4">
                                <th style="width:55%;"></th>
                                <td class="" style="text-align: left; width: 25%; font-family:  Segoe UI Semibold">Total Assessable Value :</td>
                                <td class="" style="width: 10%; text-align: right; font-family:  Segoe UI Semibold">@ViewBag.DisplayTotAmount</td>
                            </tr>
                        </tbody>

                        @*}*@

                    </table>
                }
            </div>

        </div>

        <div class="row col-md-12 mb-3" style="border-bottom: dotted 1px;">

            <div class="col-md-7">

                <table class="mb-6" width="100%" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td style="border: none; text-align:left;  font-family: Segoe UI Semibold;color: #008080;width:30%">DELIVERY PERIOD</td>
                            <td style="text-align:left;  border: none; font-family: Segoe UI Semilight;width:70%;margin-bottom:10px">@ViewBag.DelvPeriod</td>
                        </tr>
                    </tbody>
                </table>

                <table width="100%" style="font-size:16px">
                    <tbody>
                        <tr>
                            <td class="  mb-2" style="color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold;width:30%">PACKING TYPE</td>
                            <td class="  mb-2" style="text-align:right; border: none; text-align: left; font-family: Segoe UI Semilight;width:70%">@ViewBag.PackingType</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="col-md-5" style="border-left: dotted 1px;">

                <table class="mb-2 pb-2" style="border-bottom: dotted 1px;width:100%;font-size:16px">
                    <tbody>
                        <tr>
                            <td class="mb-2" style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:48%">Discount :</td>
                            <td class=" " style="border: none; text-align: right; font-family: Segoe UI Semilight;width:53%" colspan="2">@ViewBag.DiscountAmt</td>
                        </tr>
                        <tr>
                            <td class="mb-2" style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:48%">Total Amount Before VAT :</td>
                            <td class=" " style="border: none; text-align: right; font-family: Segoe UI Semilight;width:53%" colspan="2">@ViewBag.BasicAmt</td>
                        </tr>
                        <tr>
                            <td class=" " style="border: none; text-align: left; font-family: Segoe UI Semilight; width:48%">VAT :&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@ViewBag.VATPer </td>
                            <td class=" " style="border: none; text-align: right; font-family: Segoe UI Semilight;width:53%">@ViewBag.TotVATAmt</td>
                        </tr>
                    </tbody>
                </table>

                <table class="mb-4" style="width: 100%; font-size: 16px">
                    <tbody>
                        <tr>
                            <td class="" style="  border: none; text-align: left; font-family: Segoe UI Semibold; width:45%">Grand Total :</td>
                            <td class="" style="border: none; text-align: right; font-family: Segoe UI Semibold;width:55%">@ViewBag.GrandTotal</td>
                        </tr>
                    </tbody>
                </table>

                <table class="mb-2" width="100%" style="font-size: 16px">
                    <tbody>
                        <tr>
                            <td class="" style="  border: none; text-align: left; font-family: Segoe UI Semibold; width:25%">Amount In Words :</td>
                            <td class=" " style="border: none; text-align: left; font-family: Segoe UI Semibold;width:65%">@ViewBag.AmountInWord</td>
                            <td style="width:10%"></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div class="row col-md-12 mb-3 tblBreak">

            <div class="col-md-8">
                <div style="border:1px solid">
                    <table class="mb-2 ml-2" width="100%" style="font-size: 16px">
                        <tbody>
                            <tr>
                                <td class=" " style="color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold;">FOR OFFICE USE ONLY</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="mb-2" width="100%" style="font-size: 16px">
                        <tbody>
                            <tr>
                                <td class=" " style=" border: none; text-align: center; font-family: Segoe UI Semilight; width: 33%">@ViewBag.PreaparedBy</td>
                                <td class=" " style=" border: none; text-align: center; font-family: Segoe UI Semilight; width: 33%">@ViewBag.CheckedBy</td>
                                <td class=" " style=" border: none; text-align: center; font-family: Segoe UI Semilight; width: 33%">@ViewBag.ApprovedBy</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="" width="100%" style="font-size: 16px">
                        <tbody>
                            <tr>
                                <td class=" " style=" border: none; text-align: center; font-family: Segoe UI Semilight; width: 33%">PREPARED BY</td>
                                <td class=" " style=" border: none; text-align: center; font-family: Segoe UI Semilight; width: 33%">CHECKED BY</td>
                                <td class=" " style=" border: none; text-align: center; font-family: Segoe UI Semilight; width: 33%">APPROVED BY</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="col-md-4">

                <div style="border:1px solid">
                    <table class="mb-2 ml-2" width="100%" style="font-size: 16px">
                        <tbody>
                            <tr>
                                <td class=" " style="color: #008080; border: none; text-align: left; font-family: Segoe UI Semilight; visibility:hidden">FOR </td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="mb-2" width="100%" style="font-size: 16px">
                        <tbody>
                            <tr>
                                <td class=" " style=" border: none; text-align: center; font-family: Segoe UI Semilight; width: 100%;visibility:hidden">Preeti</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="" width="100%" style="font-size: 16px">
                        <tbody>
                            <tr>
                                <td class=" " style=" border: none; text-align: center; font-family: Segoe UI Semilight; width: 100%">CUSTOMER'S APPROVAL</td>
                            </tr>
                        </tbody>
                    </table>

                </div>

            </div>

        </div>

        @* KEY TERM *@

        <div class="row " id="FontContainer" style="margin-top:0px;">


            @*<hr class="m-0" style=" background-color: black !important; height:4px" />*@

            <div class="col-sm-12 col-md-12 col-lg-12 ">
                <div class="" id="tblstatic">
                    <div class="tblBreak">

                        <div class="row mt-1 mb-4 ml-0 pl-0">
                            <div class="col-md-6">
                                <p class="m-0" style="font-size:16px;  color: #008080; text-align: left; font-family: Segoe UI Semibold"> KEY AGREEMENT TERMS:  </p>
                            </div>
                        </div>
                        <div class="row mb-2 ml-7">
                            <div class="col-md-12 ml-12">
                                <div class="columns mb-4" style="width:85%">

                                    <table class="text-wrap  pb-0 mb-0" style="width:100%; font-size:16px ">

                                        <tbody>

                                            @foreach (var dr in ViewBag.tblKeyTerm)
                                            {
                                                <tr>
                                                    <td style="vertical-align: top; text-align: left" width="4%">@dr["SrNo"]</td>
                                                    <td style="text-align:left" width="96%">@dr["Terms"]</td>
                                                </tr>

                                            }
                                        </tbody>

                                    </table>



                                </div>

                            </div>

                        </div>

                    </div>




                    <div class="row mb-3 ml-0 pl-0 tblBreak">
                        <div class="col-md-12 ml-12">

                            <div class="columns">
                                <p class="m-0 text-left  " style="font-family: Segoe UI Semibold;font-size:14px">PENALTIES AND BACK-CHARGES : </p>
                                <p class="m-0 text-left text-wrap" style="text-align: justify; font-family: Segoe UI Semibold; font-size: 13px">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Future Architectural Glass will not accept or be responsible for any back-charges / penalties / delay penalties / liquidated damages or any other form of debits to our
                                    receivable amount from the customer in any given scenario whatsoever. If we find that the customer is intending to make such claims on us, we reserve all rights to hold their
                                    deliveries and / or stop their production with immediate effect and without intimation.
                                </p>

                            </div>


                        </div>

                    </div>

                    <div class="row mb-3 ml-0 pl-0 tblBreak">
                        <div class="col-md-12 ml-12">

                            <div class="columns">
                                <p class="m-0 text-left  " style="font-family: Segoe UI Semibold;font-size:14px">BACK-TO-BACK PAYMENTS : </p>

                                <p class="m-0 text-left text-wrap" style="text-align: justify; font-family: Segoe UI Semibold; font-size: 13px ">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Under no circumstances whatsoever and irrespective of any confirmation given by any employee of Future Architectural Glass LLC, we will not accept any back-to-back
                                    payment terms and we do not assume any responsibility on behalf of the customer to help with their non-payment from their client.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 ml-0 pl-0 tblBreak">
                        <div class="col-md-12 ml-12">

                            <div class="columns">
                                <p class="m-0 text-left  " style="font-family: Segoe UI Semibold;font-size:14px">DELAYED PAYMENT CHARGES : </p>

                                <p class="m-0 text-left text-wrap" style="text-align: justify; font-family: Segoe UI Semibold; font-size: 13px">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Payment delays beyond the mentioned Payment Terms shall be charged interest at the rate of 24% per annum. The interest shall be counted from the due date until
                                    the actual date of the payment. Buyer shall pay such interest within thirty (30) days from the date of the demand notice.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="row mb-3 ml-0 pl-0 tblBreak">
                        <div class="col-md-12 ml-12">

                            <div class="columns">
                                <p class="m-0 text-left  " style="font-family: Segoe UI Semibold;font-size:14px">TERMINATION OF CONTRACT / AGREEMENT / LPO : </p>

                                <p class="m-0 text-left text-wrap" style="text-align: justify; font-family: Segoe UI Semibold; font-size: 13px">
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If Buyer has not paid the amount due as per agreed Payment Terms, The Future Architectural Glass LLC shall be entitled to terminate the Contract / Agreement / LPO
                                    by notice in writing to Buyer and, inter alia claim compensation for the loss "and any expenses incurred to claim the balance payment.
                                </p>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        @* Sizes *@

        <div class="row col-md-12 mb-3 ml-0 pl-0">

            <div class="col-md-12 tblBreak">

                <table class="mb-2 ml-0 pl-0" width="100%" style="border-bottom:dotted 1px">
                    <tbody>
                        <tr>
                            <td class="  TEXT_BOLD" style="color: #008080; border: none; text-align: left; font-family: Segoe UI Semibold;">ANNEXURE I: SIZES AND QUANTITIES</td>
                        </tr>
                    </tbody>
                </table>
                <table class="mb-2 ml-0 pl-0" width="100%">
                    <tbody>
                        <tr>
                            <td class=" " style="color: #008080; border: none; text-align: left; font-family: Segoe UI Semilight;">Product Ledger</td>
                        </tr>
                    </tbody>
                </table>
                <table width="100%" style="border:none;font-size:12px">
                    <tbody>
                        <tr>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:11%">ecoFACADE (HS)</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:20%">: Heat Strenthened Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:12%">ecoSHEILD (T)</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:23%">: Tempered Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:9%">ecoLAM</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:22%">: Lamination Glass</td>
                        </tr>
                        <tr>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:11%">FRITVIEW</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:20%">: Ceramic Fritted Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:12%">CURVEVIEW</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:23%">: Curved Tempered Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:9%">BULLETSHEILD</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:22%">: Bullet Resistant Glass</td>
                        </tr>
                        <tr>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:11%">FIRELITE</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:20%">: Fire Protective (E) Glass Ceramic</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:12%">ecoTHERM</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:23%">: High Performance Insulated Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:9%">FIREGLASS</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:22%">: Fire Resistive (EI) Transparent Fire Wall</td>
                        </tr>
                        <tr>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:11%">SPECTROVIEW</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:20%">: Colour Laminated Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:12%">DECOVIEW Colour</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:23%">: Back Painted Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:9%">CHROMVIEW</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:22%">: Mirror-Frit Glass</td>
                        </tr>
                        <tr>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:11%">VISIONCONTROL</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:20%">: Glass With Integrated Louvers</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:12%">SWITCHVIEW</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:23%">: Electronically Switchable Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:9%"></td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:22%"></td>
                        </tr>
                        <tr>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:11%">CLAROVIEW</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:20%">: Anti-Reflective Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:12%">VIVIDVIEW</td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:23%">: Mesh In-Filled Glass</td>

                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:9%"></td>
                            <td class=" " style="  border: none; text-align: left; font-family: Segoe UI Semilight; width:22%"></td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>


        @* Glass Size *@
        <div class="row col-md-12 mb-5">
            <div class="col-12 tblBreak">

                @foreach (var SpecDetails in ViewBag.tblGlassDetails)
                {
                    <table class="tblBreak  pb-0 mb-3" style="width:100%; font-size:16px ">
                        <thead style=" border:dotted 1px;border-left:none;border-right:none">
                            <tr class="   p-0">
                                @*<th class="   p-0" id="left" style="width: 5%;font-family:Poppins"><strong id="text-big">SNO</strong></th>*@
                                <th style="color: #008080; width:6%">SNo</th>
                                <th style="color: #008080; width:26%" colspan="2">ACTUAL SIZE</th>
                                <th style="color: #008080; width: 29%">REMARKS</th>
                                <th style="color: #008080; width: 12%;text-align:right">PCS</th>
                                <th style="color: #008080; width: 12%;text-align:right">LM</th>
                                <th style="color: #008080; width: 12%;text-align:right">QTY</th>
                            </tr>
                            <tr class="   p-0">
                                @*<th class="   p-0" id="left" style="width: 5%;font-family:Poppins"><strong id="text-big">SNO</strong></th>*@
                                <th style="color: #008080; width:6%"></th>
                                <th style="color: #008080; width:13%;text-align:center">Width(mm)</th>
                                <th style="color: #008080; width:13%;text-align:center">Height(mm)</th>
                                <th style="color: #008080; width:29%;text-align:left"></th>
                                <th style="color: #008080; width:12%"></th>
                                <th style="color: #008080; width:12%"></th>
                                <th style="color: #008080;width:12%;text-align:right">SQM</th>
                            </tr>
                        </thead>

                        <tbody style="">
                            @foreach (var g1 in ViewBag.tblGlassDetails)
                            {
                                if (SpecDetails["SpecID"] == g1["SpecID"])
                                {
                                    <tr class="   p-0">
                                        @*<th class="   p-0" id="left" style="width: 5%;font-family:Poppins"><strong id="text-big">SNO</strong></th>*@
                                        <td style="vertical-align: top; width: 6%; font-family: Segoe UI Semilight">@g1["SpecID"]</td>
                                        <td style="vertical-align: top; text-align: left; width: 26%; font-family: Segoe UI Semibold" colspan="2">GLASS SPECIFICATION:</td>
                                        <td style="text-align: left; width: 29%; font-family: Segoe UI Semilight">@g1["CombSpecification"]<br>@g1["AddDescrp"]</td>
                                        <td style="text-align: left; width: 12%; font-family: Segoe UI Semilight"></td>
                                        <td style="text-align: left; width: 12%; font-family: Segoe UI Semilight"></td>
                                        <td style="text-align: left; width: 12%; font-family: Segoe UI Semilight"></td>
                                    </tr>

                                }
                            }

                            @{
                                int a = 0;
                            }
                            @foreach (var g2 in ViewBag.tblSizes)
                            {
                                if (SpecDetails["SpecID"] == g2["SpecID"])
                                {


                                    if (g2["Description"] != "")
                                    {
                                        <tr class="  p-0" bgcolor="#A3D0D0">
                                            <td style="  width:6%"></td>
                                            <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%;"></td>
                                            <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%;  "></td>
                                            <td style="text-align: left; width: 29%; font-family: Segoe UI Semilight;  ">@g2["Description"]</td>
                                            <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight;  "></td>
                                            <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight;  "></td>
                                            <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight;  "></td>
                                        </tr>

                                    }
                                    else
                                    {
                                        a++;

                                        if (@a % 2 == 0)
                                        {
                                            <tr class="   p-0">
                                                <td style="  width:6%">@a</td>
                                                <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%">@g2["StepGlaze_AWidth"]</td>
                                                <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%">@g2["StepGlaze_AHeight"]</td>
                                                <td style="text-align: left; width: 29%; font-family: Segoe UI Semilight; ">@g2["Remark"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight; ">@g2["Pcs"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight; ">@g2["LM"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight; ">@g2["SQM"]</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr class="   p-0" bgcolor="#DDDDDD">
                                                <td style="  width:6%">@a</td>
                                                <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%">@g2["StepGlaze_AWidth"]</td>
                                                <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%">@g2["StepGlaze_AHeight"]</td>
                                                <td style="text-align: left; width: 29%; font-family: Segoe UI Semilight; ">@g2["Remark"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight; ">@g2["Pcs"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight; ">@g2["LM"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight; ">@g2["SQM"]</td>
                                            </tr>
                                        }

                                    }

                                }
                            }
                        </tbody>

                        @*<tbody style="">
                                @{
                                    int a = 0;
                                }
                                @foreach (var g2 in ViewBag.tblSizes)
                                {
                                    if (SpecDetails["SpecID"] == g2["SpecID"])
                                    {

                                        a++;
                                        if (g2["Description"] != "")
                                        {
                                            <tr class="  p-0" bgcolor="#A3D0D0">
                                                <td style="  width:6%"></td>
                                                <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%;" ></td>
                                                <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%;  "></td>
                                                <td style="text-align: left; width: 29%; font-family: Segoe UI Semilight;  ">@g2["Description"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight;  "></td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight;  "></td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight;  "></td>
                                            </tr>

                                        }
                                        else
                                        {
                                            <tr class="   p-0">
                                                <td style="  width:6%">@a</td>
                                                <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%">@g2["StepGlaze_AWidth"]</td>
                                                <td style="text-align: center; font-family: Segoe UI Semilight; width: 13%">@g2["StepGlaze_AHeight"]</td>
                                                <td style="text-align: left; width: 29%; font-family: Segoe UI Semilight; ">@g2["Remark"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight; ">@g2["Pcs"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight; ">@g2["LM"]</td>
                                                <td style="text-align: right; width: 12%; font-family: Segoe UI Semilight; ">@g2["SQM"]</td>
                                            </tr>

                                        }

                                    }
                                }
                            </tbody>*@

                    </table>

                }

            </div>

        </div>


    </div>

    <hr style="border: dotted 1px;" class="mt-0 pl-0" />


</div>

@*<script>
        setTimeout(function () {
            window.onload = window.print();


        }, 1000);
        window.onload = function () {

        };</script>

    <script>
        setTimeout(function () {
            window.onload = window.close();
        }, 1000);
        window.onload = function () {

        };
    </script>*@